body{
    background-color: #e7fafc;
    padding: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
    transition: all 0.5 ease;
}
h1:hover{
    text-decoration: underline;
    transform: scale(1.5);
}
p{
    text-align: center;
    font-size: 30px;
}
nav{
    text-align: center;
}
nav a{
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20px;
    color: black;
}
nav a:hover{
    background-color: black;
    color: aliceblue;
}
section{
    background-color: white;
    width: 800px;
    margin: 30px auto;
     border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 13px grey;
}
hr{
    margin: 30px auto;
    width: 800px;
    border:1px solid black;
}
figure{
    text-align: center;
}
figure img{
    border-radius: 50%;
    border: 3px solid black;
}
figure img:hover{
    box-shadow: 0 5px 10px grey;
}
figcaption{
    font-size: 25px;
}
section ul{
    text-align: center;
}
section h2{
    border-bottom: 2px black solid;
    padding-bottom: 10px;
}
article{
    background-color: #e7fafc;
    padding: 20px;
    margin: 20px;
    border-left: 4px solid blue;
    border-radius: 10px;
    transition: all 0.5s ease;
} 
h3{
    font-size: 35px;
}
summary{
    font-size: 30px;
}
li{
    background-color: #e7fafc;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: left;
}
ul,ol{
    list-style-type: none;
}
form{
    text-align: center;
}
input,textarea{
    width: 100%;
    margin: 8px;
}
button{
    background-color: rgb(169, 169, 237);
    color: black;
    padding: 8px;
    margin-left: 25px;
    border-radius: 7px;
}
button:hover{
    background-color: plum;
}
article:hover{
}



